<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SiteName</key>
	<array>
		<string>The Huffington Post</string>
		<string>Daum</string>
		<string>Naver</string>
		<string>Nate</string>
	</array>
	<key>url</key>
	<array>
		<string>m.huffpost.com/kr</string>
		<string>www.daum.net</string>
		<string>www.naver.com</string>
		<string>www.nate.com</string>
	</array>
</dict>
</plist>
